<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} &hyphen; Curriculum Vitae</title>
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./skeleton.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div class="container page">
    
    <div class="row">
      <div class="four columns">
	<h1>{{ name }}</h1>
	<h2>{{ title }}</h2>
	  
      </div>
      <div class="eight columns">
        <dl class="row facts">
          {{#each facts}}
          <dd class="facts">{{{ this }}}</dd>
          {{/each}}
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <time datetime="{{ buildinfo.date }}" class="text-muted">
	  Last update: {{ updated }}
	</time>
      </div>
      <div class="six columns">
        <span class="screen download-or-print">
	  <a href="{{ pdfFileName }}">
	    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
	    Download PDF
	  </a>
	</span>
        <span class="print download-or-print">
	  <a href="{{ baseUrl }}" class="text-nowrap">
	    <i class="fa fa-link" aria-hidden="true"></i>
	    {{ baseUrl }}
	  </a>
	</span>
      </div>
    </div>
    
    {{#each skills}}
    <div class="row">
      <div class="two columns">
	<h4>{{title}}</h4>
      </div>
      <div class="ten columns">
        {{{ markdown contents }}}
      </div>
    </div>
    {{/each}}

    <div class="experiences">
      <h3>Experience</h3>
    </div>
    {{#each experiences}}
    <div class="row">
      <div class="two columns">
	<h4>{{title}}</h4>
      </div>
      <div class="ten columns">
        {{{markdown contents }}}
      </div>
    </div>
    {{/each}}
    

    <div class="row">
      <div class="two columns">
	<h3>Education</h3>
      </div>
      <div class="ten columns">
	{{{markdown education}}}
      </div>
    </div>

    <div class="projects">
      <h3>Projects</h3>
    </div>
    {{#each projects}}
    <div class="row">
      <div class="two columns">
	<h4>{{title}}</h4>
      </div>
      <div class="ten columns">
        {{{markdown contents }}}
      </div>
    </div>
    {{/each}}

    <div class="row">
      <div class="two columns">
	<h3>Interests</h3>
      </div>
      <div class="ten columns">
	{{{markdown interests}}}
      </div>
    </div>
    
    
  </div>
</body>
</html>
