
@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 400;
  src: url('./cmunrm.woff') format('woff');

}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: 400;
  src: url('./cmunti.woff') format('woff');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: 700;
  src: url('./cmunbx.woff') format('woff');
}


body {
    font-family: Latin Modern;
    color: #000; 
    line-height: 1.8rem;
}

.page {
    margin-top: 2rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: -0.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
    padding: 2rem 0 0 1rem;
}

p {
    text-align: justify;
    font-size: 1.8rem;
}

a {
    color: #34768a;
}

i.fa {
    margin-right: 0.5rem;
}

dd.facts {
    margin: 0;
}

dl.facts {
    column-count: 3;
    width: content;
}

span.download-or-print {
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-bottom: 4rem;
}

div.experiences, div.projects {
    position: absolute;
    margin-top: -3rem;
}

@media print {
    .screen {
	display: none !important;
    }
}

@media not print {
    .print {
        display: none !important;
    }

    @media (min-width: 576px) {
    }

}
